.results {
  height: 100vh;
  width: 100vw;
}

.results__heading {
  transform: translateX(-50%);
  margin: 30px 0 10px;
  font-size: 30px;
  color: black;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  text-align: center;
}

.results__gallery {
  margin: 80px auto;
  width: 80%;
  max-width: 1500px;

  display: grid;
  gap: 20px;

  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  grid-auto-rows: 240px;
}

.results__imageContainer {
  position: relative;
}

.results__imageContainer > img {
  width: 100%;
  height: 100%;
}

.results__imageCover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0);
  opacity: 0;
  transition: 0.4s;
}

.results__imageCover > p {
  text-align: center;
  color: white;
  font-size: 22px;
}

.results__imageContainer:hover .results__imageCover {
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 1;
}

@media (min-width: 730px) {
  .results__imageContainer:nth-child(1) {
    grid-row: span 2 / auto;
    grid-column: span 2 / auto;
  }
  .results__imageContainer:nth-child(25) {
    grid-row: span 2 / auto;
    grid-column: span 2 / auto;
  }
  .results__imageContainer:nth-child(35) {
    grid-row: span 2 / auto;
    grid-column: span 2 / auto;
  }
  .results__imageContainer:nth-child(47) {
    grid-row: span 2 / auto;
    grid-column: span 2 / auto;
  }
}

@media (min-width: 1600px) {
  .results__imageContainer:nth-child(5),
  .results__imageContainer:nth-child(11),
  .results__imageContainer:nth-child(21) {
    grid-column: span 3 / auto;
  }
}
